<%- include ("includes/header") %>

<div class="container-fluid pb-0">
  <div class="row">
    <div class="col mx-md-5">
      <div class="main-title">
        <h6>Settings</h6>
      </div>
    </div>
  </div>

  <div class="col mx-md-5">
    <form method="POST" action="/save_settings">
      <div class="row">
        <div class="col-md-12">
          <% if (error != "") { %>
          <div class="alert alert-danger"><%= error %></div>
          <% } %> <% if (message != "") { %>
          <div class="alert alert-success"><%= message %></div>
          <% } %>
        </div>
      </div>

      <div class="row">
        <div class="mx-auto">
          <div class="align-middle" style="width: 500px">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input
                class="form-control border-form-control"
                name="first_name"
                value="<%= user.first_name %>"
                required
              />
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="form-group">
              <label class="control-label">Last Name</label>
              <input
                class="form-control border-form-control"
                name="last_name"
                value="<%= user.last_name %>"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="form-group">
              <label class="control-label"
                >Password (Leave blank if no change)</label
              >
              <input
                class="form-control border-form-control"
                name="password"
                placeholder="******"
                type="password"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-right">
          <button type="submit" class="btn btn-success border-none">
            Save Changes
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- /.container-fluid -->

<%- include ("includes/footer") %>
