<%- include ("includes/header") %>

  <div class="video-player">
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <video poster="<%= video.thumbnail %>" src="<%= video.filePath %>" controls>
                Sorry, your browser doesn't support HTML5
              </video>
            </div>

            <div class="row">
              <h3 style="margin-left: 20px; color: #dedede;">
                <%= video.title %>
              </h3>
              <span style="margin-left: 20px; color: #dedede;">
                <%= video.views %> views
              </span>
              <span style="margin-left: 20px; color: #dedede;">Published on <% var createdAt=new Date(video.createdAt);
                  var date=createdAt.getDate() + "" ; %>
                  <%= date.padStart(2, "0" ) + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear() %>
              </span>
            </div>
            <hr style="background-color: #434a4d;">

            <div style="margin-left: 20px; color: #dedede;">
              <h6>Category :</h6>
              <p>
                <%= video.category %>
              </p>
              <h6>Description :</h6>
              <p>
                <%= video.description %>
              </p>
              <h6>Tags :</h6>
              <p class="tags mb-0">
                <% tags=video.tags.split(","); tags.forEach (function (tag) { tag=tag.trim(); %>
                  <span>
                    <%= tag %>,
                  </span>
                  <% }) %>
              </p>
            </div>


          </div>
        </div>
      </div>
    </div>

    <%- include ("includes/footer") %>